html
{
    font-family: 'Pt Sans', sans-serif;
    background-color:#fff;
}

ul, nav
{
    list-style: none;
}
ul.grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section
{
  display:flex;
  flex-direction:column;
  align-items:center;    
  padding: 125px 90px;
  font-family: PT-Sans-Regular;
}

a
{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

button
{
  background-color: #993a64;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 45px;
  font-family: PT-Sans-Bold;
  outline: none !important; 
}
button:hover 
{
  background-color:#3d0b21;
}
button:active 
{
  position:relative;
  top:1px;
}

header
{
  position: absolute;;
  z-index: 10;
  width: 98%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
header nav 
{
  display: flex;
}
header p
{
  font-family: Belinda;
  font-size: 80px;
  margin-bottom: 65px;
}

.golos1
{
  background-color: #993a64;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 45px;
  font-family: PT-Sans-Bold;
  outline: none !important; 
}
.golos
{
  background-color: #993a64;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 45px;
  font-family: PT-Sans-Bold;
  outline: none !important; 
}

.menu 
{
  width:100%;
  padding:10px 18px; 
  color: #fff;
  justify-content: center;
}
 
.menu ul 
{
  display:inline-block;
}
 
.menu li 
{
  margin: 0px 50px 0px 0px;
  float:left;
  list-style:none;
  font-size: 30px;
  font-family: OpenSans-Semibold;
  margin: 0 18px;
}
.menu li:first-child
{
  margin-left: 0; 
}
.menu li:last-child 
{
  margin-right:0px;
}

.active a 
{
  position: relative;
}

.active a:before 
{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;

  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.active a:hover:before 
{
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.toggle-nav 
{
    display:none;
}

.num1
{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  height:590px;
  background-size: cover;

  color: #fff;
  text-align: center;
}

.num1 h1
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 7vw;
  font-weight: 600;
  margin-top: 200px;
  margin-bottom: 40px;
}
.num1 h2
{
  margin-bottom: 80px;
  font-size: 3vw;
}

.num2
{
  background-color: #fed7fd;
}
.num2 .grid li
{
  flex-basis: 30%;
  text-align: center;
  padding: 0 10px;
}
.num2 .grid li i
{
  color: #50c3af;
  margin-bottom: 30px;
}
.num2 .grid li h4
{
  color: #32373c;
  padding: 30px 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: PT-Sans-Bold;
}
.num2 .grid li hr
{
  background-color: #c7c7c7;
  height: 2px;
  border: none;
}
.num2 .grid li p
{
    color: #787b80;
    font-size: 18px;
    margin: 0;
}

.num3
{
  background-color: #f4d7ed;
  background-blend-mode: 50%;
  color: #3d0b21;
}
.num3 .grid
{
  justify-content: space-around;
}
.num3 .grid li
{
  flex-basis: 30%;
  margin: 0 25px 25px;
  text-align: left;
}
.num3 .grid h4
{

  font-size: 20px;
  font-weight: 600;
  color: #3d0b21;
  font-family: PT-Sans-Bold;
}
.num3 .grid p
{
  padding: 20px 0 35px 0;
  line-height: 1.5;
  font-family: PT-Sans-Regular;
  color: #c48bbf;
}
.num3 .grid img
{
  height: 330px;
  width: 500px;
}
.num3 .grid figure
{
  width:  500px;
  text-align: center;
}

.num4
{
  background-color:  #fed7fd;

  display: flex;
  display: -webkit-flex;
  flex-flow: wrap column;
  font-family: PT-Sans-Regular;
  text-align: left;
}
.section-text hr
{
  margin-bottom:  25px;
}
.section-text i
{
  font-size: 21px;
  color: #d2d5da;
  margin-bottom: 20px;
  margin-right: 15px;
}
.section-text h4
{
  display: inline;;
  font-size: 35px;
  color: #3d0b21;
}
.section-text p
{
  color: #767b80;
  font-size: 18px;
  text-align: left;
  margin-bottom:  35px;
}

.num5
{
  background-color: #f4d7ed;
  color: #3d0b21;
}
.num5 .grid  img
{
  margin-bottom: 20px;
}
.num5 li
{
  flex-basis: 30%;
  text-align: left;
  justify-content: space-around;
}
.num5 hr
{
  margin-bottom: 20px;
}
.num5 h4
{
  padding: 10px 0 25px 0;
  font-size: 35px;
  font-weight: 600;
  color: #3d0b21;
  font-family: PT-Sans-Bold;
}
.num5 h3
{
  padding: 0 0 50px 0;
  font-size: 50px;
  font-weight: 600;
  color: #3d0b21;
  font-family: PT-Sans-Bold;
}

.num5 p
{
  padding: 30px 0 35px 0;
  line-height: 1.5;
  font-family: PT-Sans-Regular;
  color: #787b80;
}

.num6
{
  background-color:  #fed7fd;
  padding: 100px 50px;
  color: #3d0b21;
}
.num6 img
{
  margin-right:  30px;
}
.num6 figcaption
{
  float: right;
  width: 50%;
}
.num6 h4
{
  display: inline;
  font-size: 40px;
  color: #3d0b21;
}
.num6 figcaption p
{
  color: #787b80;
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
}

.clicked {
  background-color: black;
  color: white;
}

.mylogo
{
  width: 200px;
}

.script
{
  font-size: 60px;
  margin-bottom: 50px;
  font-family:'Ubuntu', sans-serif;
}

.top2021
{
  font-size: 60px;
  font-family:'Ubuntu', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a
{
  text-decoration: none;
}

footer
{
  background-color: #f4d7ed;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  color: #3d0b21;
}
footer .copyright
{
  padding-top: 25px;
  float: left;
}
footer .social li
{
  display: inline;
  margin: 0px 5px;
}

@media (max-width: 650px)
{
  img { max-width: 100%;}
  .section { padding:  65px 25px; }
  .section .grid h4 { padding: 0; }

  .num2 .grid li{ flex-basis: 100%; margin: 0 auto 65px; text-align: center; }
  .num2.section { padding:  100px 25px; }
  .num2 .grid img { margin-bottom: 20px; }
  .num2 .grid li:last-child { margin-bottom: 0; }

  .num3 .grid li { flex-basis: 100%; }
  .num3 .grid figure { width: 100%; }

  .num5 .grid li { flex-basis: 100%; margin: 0 auto 65px; text-align: center; }
  .num5 .grid img { margin-bottom: 20px; }
  .num5 .grid li:last-child { margin-bottom: 0; }
  
  .mylogo { margin-bottom: 20px; flex-basis: 100%; margin: 0 auto 65px; }
  .script{ font-size: 60px; top: 10%; left: 0px;  padding: 40px 40px; border-radius: 3px; flex-basis: 100%; }
  footer { padding: 20px 5px; }
  }

@media (min-width: 651px) and (max-width: 960px)
{
  .num2 .grid li { flex-basis: 30%; margin: 0 auto 65px; text-align: center; }
  .num2.section { padding:  100px 25px; }
  .num2 .grid img { margin-bottom: 20px; }
  .num2 .grid li:last-child { margin-bottom: 0; }

  .num4.section { padding: 100px 25px; }

  .num5 .grid li { flex-basis: 100%; margin: 0 auto 65px; text-align: center; }
  .num5 .grid img { margin-bottom: 20px; }
  .num5 .grid li:last-child { margin-bottom: 0; }

  footer { padding: 20px 25px; }
}
@media (max-width: 960px)
{
  .num6 figcaption { width: 100%; padding-top: 45px; text-align: left; }
  .num6 figure { text-align: center; }
  .num6 img { margin: 0; }
}
@media (min-width: 961px) and (max-width: 1200px)
{
  .section { padding:  100px 50px; }

  .num5 .grid li { flex-basis: 80%; margin: 0 auto 65px; text-align: center; }
  .num5 .grid img { margin-bottom: 20px; }
  .num5 .grid li:last-child { margin-bottom: 0; }

  .num6 figcaption { width: 100%; padding-top: 45px; text-align: left; }
  .num6 figure { text-align: center; }
}

@media (min-width: 1280px)
{
   .section { padding:  100px 90px; }
}

@media screen and (max-width: 650px) 
{
  .menu { position:relative; display:inline-block; }
  .menu ul.active { display:none; }
  .menu ul { width: 100%; position: absolute; top: 120%; left: 0px;  padding: 10px 18px; border-radius: 3px; background: #303030; }
  .menu li { margin: 5px 0px 5px 0px; float: none; display: block; }
  .menu a { display: inline-block; text-decoration: none; margin-bottom: 20px; }
  .mylogo {width: 30%; position: absolute; top: 150%; left: 0px;  padding: 10px 18px; border-radius: 3px; }
  .toggle-nav { padding:20px; float: right; display:inline-block;  border-radius:3px; background:#50c3af; font-size:20px; transition:color linear 0.15s; }
  .toggle-nav:hover, .toggle-nav.active { text-decoration:none; color:#2d8164; }
  .script{ font-size: 60px; width: 30%; position: absolute; top: 10%; left: 0px;  padding: 40px 40px; border-radius: 3px; }